.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 653px;
        min-height: 216px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        width: 100%;
    }
    &__title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        margin-right: 45px;
        max-width: 260px;
        span {
            @include f700;
        }
    }
    &__link {
        background-color: #ffffff;
        padding: 13px 40px;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        color: $bg;
    }
}