    .product {
        padding: 110px 0;
        background-color: $grey;
    }
    
    .product__title {
        color: $bg;
    }
    
    .product__inner-btn {
        text-align: center;
        margin-bottom: 60px;
        button {
            padding: 12px 21px;
            border: none;
            background-color: #ffffff;
            color: $bg;
            cursor: pointer;
            &+button {
                margin-left: 5px;
            }
            &.mixitup-control-active {
                background-color: $red;
                color: #ffffff;
            }
        }
    }
    
    .product__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .product__item {
        max-width: 442px;
        width: 100%;
        box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
        margin-bottom: 32px;
        &-img {
            min-height: 250px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover;
        }
        &-content {
            display: flex;
            justify-content: space-between;
            padding: 10px 32px;
            align-items: center;
            min-height: 90px;
            @include f500;
            border-bottom: 1px solid #e7ecf2;
        }
        &-name {
            max-width: 310px;
        }
        &-title {
            color: $bg;
            font-size: 18px;
            display: block;
            line-height: 40px;
        }
        &-category {
            display: block;
            color: #8bc34a;
            font-size: 14px;
        }
        &-price {
            font-size: 20px;
            @include f700;
            color: $bg;
        }
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 68px;
            padding: 10px 32px;
        }
        &-author {
            display: flex;
            align-items: center;
            max-width: 245px;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 14px;
            }
            span {
                font-size: 14px;
                @include f500;
            }
        }
    }
    
    .product__item-btn {
        text-align: center;
        button {
            margin: 45px 5px 0;
            box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
            border: none;
            background-color: #ffffff;
            color: $bg;
            padding: 20px 33px;
            cursor: pointer;
            &.mixitup-control-active {
                background-color: $red;
                color: #ffffff;
            }
        }
    }