.product__slider {
    padding: 120px 0 120px;
    text-align: center;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            margin-left: 3px;
            margin-right: 7px;
            display: inline-block;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border: none;
                background-color: #e8e8e8;
                border-radius: 50%;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}